<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<head>
<title>Label Detection</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1><a href="/">Label Detection</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/upload">UPLOAD IMAGE</a></li>
          <li><a href="https://cloud.google.com/vision/">GCV</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <section id="pageintro" class="hoc clear">
    <div> 
      <!-- ################################################################################################ -->
      <h2 class="heading">lABEL DETECTION</h2>
      <p>Label Detection detects broad sets of categories within an image, which range from modes of transportation to animals.</p>
      <footer><a class="btn" href="/upload">TRY</a></footer>
      <!-- ################################################################################################ -->
    </div>
  </section>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">TECHNOLOGIES USED</h6>
    </div>
    <ul class="nospace group services">
      <li class="one_quarter first">
        <article><a href="https://www.java.com/en/"></a>
          <h6 class="heading font-x1"><a href="https://www.java.com/en/">JAVA</a></h6>
          <p>Java is a general-purpose computer-programming language</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="https://cloud.google.com/vision/"></a>
          <h6 class="heading font-x1"><a href="https://cloud.google.com/vision/">Google Cloud Vision</a></h6>
          <p>Cloud Vision API provides a comprehensive set of capabilities including object detection, ocr, explicit content, face, logo, and landmark detection.</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="https://www.thymeleaf.org/"></a>
          <h6 class="heading font-x1"><a href="https://www.thymeleaf.org/">THYMELEAF</a></h6>
          <p>Thymeleaf is a Java XML/XHTML/HTML5 template engine that can work both in web and non-web environments. </p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="https://getbootstrap.com/"></a>
          <h6 class="heading font-x1"><a href="https://getbootstrap.com/">BOOTSTRAP</a></h6>
          <p>Bootstrap is a free and open-source front-end framework for developing websites and web applications.</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Developed By</h6>
    </div>
    <div class="group excerpts">
      <article class="one first">
        <div class="hgroup">
          <h6 class="heading">Chetan Bommu</h6>
          <em>Full Stack Applications Developer</em></div>
        <figure><a href="#"><img src="images/demo/cb.JPG" alt=""></a></figure>
        <footer>
          <ul class="faico clear">
            <li><a class="faicon-twitter" href="https://twitter.com/bommuchetan"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-linkedin" href="https://www.linkedin.com/in/bommuchetan"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-google-plus" href="https://plus.google.com/115580846716030824273"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </footer>
      </article>
    </div>
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="https://twitter.com/bommuchetan">Chetan Bommu</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>